<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/dq6gibxhn/image/upload/v1599265464/rlttq5zldz0lkfezhh37.jpg');">
   <div class="banner-content">
    <h1>SAKE -酒- Cocktails!</h1>
    <%= link_to 'Add new sake cocktail',  new_cocktail_path, class: "btn-white" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?cocktail');">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
